body{
    background: radial-gradient(#9696e4,#4545ee);
    font-size: 1.2em;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
}
#songlist{
    background: lightcyan;
    border-radius: 10px;
    text-align: left;
    
}
li:hover , svg:hover{
    cursor: pointer;
}
li{
    padding: 15px;
}
#control{
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: lightcyan;
    padding: 15px;
}

svg{
    color: lightslategray;
}

progress{
    width: 80%;
    margin: 20px;
}